body {
    font-family: Arial, sans-serif;
    background-color: #e9d5d500;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: #e0cfcf;
    color: #42383827;
    padding: 20px;
}
